

.MainPAD{
    width: 100%;
    height: 100%;
    // background-color: blue;
    display: grid;
    justify-items: center;
    align-items: center;

    #CanvasPAD{
        width: 100%;
        height: 100%;
        // background-color: red;
    }
}